/Static_Keyword/target/
/Static_Variable2/target/
/Static_Method/target/
/Math/target/
/Method_Overloading/target/
/Debug_Demo/target/
/CallBy/target/
/VariablelenArg/target/
/Factorial/target/
/Encapsulation/target/
/Inheritance/target/
/Inheritance2/target/
/Inheritance3/target/
/Method_Overriding/target/
/Super_Keyword/target/
/Super_Keyword2/target/
/Super_keyword3/target/
/Super_Keyword4/target/
/This_Keyword/target/
/This_Keyword2/target/
/Final_Keyword/target/
/Final_Keyword2/target/
/Polymorphism/target/
/Polymorphism2/target/
/Practice_Constructor/target/
/Practice_Encapsulation/target/
/Inventory/target/
/Library/target/
/Practice_Static_Member/target/
/UniversityManagement/target/
/UniManagement/nbproject/private/
/UniManagement/build/
/UniManagement/dist/
/JavaFXTest/nbproject/private/
/Abstraction/target/
/Lab_task_1/target/
/Lab_task_2/target/
/Lab_Task_4/target/
/Lab_task_3/target/
/Problem_1/target/
/Problem_2/target/
/Abstraction_2/target/
/Interface_1/target/
/Interface_2/target/
/Lab_Task_5/target/
/Lab_Task_7/target/
/Lab_Task_6/target/
/Lab_Task_9/target/
/Lab_Task_10/target/
/Practice_Inheritnace/target/
/Practice_Inheritance2/target/
/Practice_Inheritance3/target/
/Practice_Inheritance4/target/
/Practice_Polymorphism/target/
/Lab_Task_12/target/
/Lab_Task_13/target/
/Lab_task_14/target/
/Lab_Task_15/target/
/Lab_Task_16/target/
/Lab_Task_17/target/
/Lab_Task_18/target/
/Lab_Task_19/target/
/Lab_Task_20/target/
/Lab_Task_21/target/
